<div>
  <ul>
    <li><a routerLink="/">home</a></li>
    <li><a routerLink="/unsubscribe">unsubscribe</a></li>
    <li><a routerLink="/take-while">takeWhile</a></li>
    <li><a routerLink="/take-until">takeUntil</a></li>
  </ul>
  <div style="margin-top: 10px;">
    <b>Observable 1:</b>
    <button (click)="appSerivce.trigger1('A1')">trigger "A1"</button>
    <button (click)="appSerivce.trigger1('B1')">trigger "B1"</button>
    <button (click)="appSerivce.trigger1(appSerivce.IGNORE_VALUE)">trigger ignored value</button>
  </div>
  <div style="margin-top: 10px;">
    <b>Observable 2:</b>
    <button (click)="appSerivce.trigger2('A2')">trigger "A2"</button>
    <button (click)="appSerivce.trigger2('B2')">trigger "B2"</button>
    <button (click)="appSerivce.trigger2(appSerivce.IGNORE_VALUE)">trigger ignored value</button>
  </div>
</div>
<router-outlet></router-outlet>
